<h1>Decide</h1>

<div id="divDecide">

  <div id='test'>
    <form id="formPaint1">
      <input type="text" id="input1" name="width" placeholder="width"><br><br>
      <input type="text" id="input2" name="height" placeholder="height"><br><br>
      <input type="submit" value="paint">
    </form>

    <br><br>
    
    <form action="" id="formPaint2">
      <input type="text" id="input3" name="width" placeholder="width"><br><br>
      <input type="text" id="input4" name="height" placeholder="height"><br><br>
      <input type="submit" value="paint">
     
    </form>
     
  </div>

  <div id="img">
    
  </div>

</div>
