<form>
  <input type="text" class="form-control" id="exampleInputLogin" aria-describedby="emailHelp" placeholder="Enter login">
  <br><br>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  <br><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
