<section class = "main">


      <!-- SECTION LEFT -->
      <section class = "section__left">
        
        <form class = "box" method="post" action="" enctype="multipart/form-data">
          
          <div class="box__margins"><img width="150px" src="/img/DeathStar.svg"></div>
          <div class="box__margins"><img width="50px" src="img/Arrow.svg"></div>
          <div class="box__margins box__dragndrop"><p>Drag & Drop files</p></div>

          <div><input type="file" name="file" id="file"  multiple class=box__inputFile></div>
          <div class="box__margins"><label for="file" class="box__button"> Choose .dxf files</label></div>
          
        </form>
      </section>


      <!-- SECTION RIGHT -->
      <section class = "section__right">
        
        <div class="section__right__console">
          <span class="section__right__console__header"></span>
          <input type="checkbox" id="console" class="section__right__console__unroll">
          <label for="console">(unroll for details)</label>
          <span class="section__right__console__content">
          
          </span>
        </div>
        

        <div class = "section__right__table">
          <table>
            <col>
            <col>
            <col>
            <col>
            <thead>
            
              <tr>
                <th>#</th>
                <th>File</th>
                <th>Path length, mm</th>
                <th>Size, mm</th>
              
              </tr>

            </thead>
            
            <tbody class="table__body">
              <!-- <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
              </tr> -->
            </tbody>



          </table>
        </div>
        
        
        <div class="section__right__advantages">
        <p>Laser cutting path measurement:</p>
        <ul>
          <li> Path length & number of entry points</li>
          <li> Instant & automatic calculation</li>
          <li> MultiFile support</li>
        </ul>
        </div>

        <!-- <div class="section__right__console">test</div> -->
          
      </section>

    </section>
