<form>
  <input type="text" class="form-control" id="exampleInputLogin" aria-describedby="emailHelp" placeholder="Enter login">
  <br><br>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="Enter email">
  <br><br>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  <br><br>
  <input type="checkbox" class="form-check-input" id="exampleCheck1">
  <label class="form-check-label" for="exampleCheck1">Check me out</label><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
